*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

a{
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: black;
    padding: 15px 30px;
    color: white;
}
.navLeft{
    font-size:1.1em;
    font-weight: 600;
}.navRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size:1em;
    text-transform: capitalize;
}.navRight>li{
    cursor: pointer;
}

.burgerBtn{
    flex-direction: column;
    gap: 5px;
    display: none;
    cursor: pointer;
}
.line{
    width: 35px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}
.line1,.line2,.line3{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 100;
    transform: rotate(0deg);
    transition: all 0.4s ease;
}

.line1.open{
    top: 10px;
    transform: rotate(45deg);
}
.line2.open{
    opacity: 0;
    left: -10px;
}
.line3.open{
    top: -10px;
    transform: rotate(-45deg);
}


@media (max-width: 650px){
    .navRight{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        font-size:1.2em;
        position: fixed;
        left: -300px;
        top: 50px;
        background-color: black;
        width: 250px;
        transition: all .4s ease;
    }
    .showNavRight{
        left: 0;
    }
    .burgerBtn{
        display: flex;
    }
}




/* sec1 */
.sec1{
    height: 91.5vh;
    background-color: black;
    background-image: url(./imgs/backgroundImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% center;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.sec1-grid{
    color: white;
    max-width: 750px;
    margin-left: 10vw;
    height: 350px;
}.sec1-title{
    font-size: 2.5em;
    font-weight: 700;
    text-transform: capitalize;
}.sec1-body{
    font-size: 1.8em;
    margin-top: 2rem;
    max-width: 600px;
}.sec1-btn{
    background-color: #FF3A3A;
    padding: 5px 10px;
    width: fit-content;
    font-size: 1.7em;
    border-radius: 5px;
    margin-top: 3rem;
    cursor: pointer;
    border: none;
    color: white;
}.sec1-btn:active{
    transform: scale(.94);
}

@media (max-width: 630px) {
    .sec1-title{
        font-size: 1.8em;
    }.sec1-body{
        font-size: 1.5em;
    }.sec1-btn{
        font-size: 1.4em;
    }

    .sec1-grid{
        margin-left: 0;
        margin: 0 6vw;
    }
}








/* sec2 */
.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.sec2-title{
    font-size: 1.8em;
    font-weight: 600;
}
.sec2-slogan{
    font-size: 1.5em;
    max-width: 450px;
    text-align: center;
    margin-top:10px;
}
.sec2-projects{
    display: grid;
    grid-template-columns: repeat(3 , minmax(150px , 250px));
    grid-template-rows: auto;
    height: fit-content;
    column-gap: 5vw;
    margin: 0 40px;
    margin-top: 30px;
}
.project-box{
    background-color:white;
    box-shadow: 0 0 15px rgb(138, 138, 138);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.project-img{
    width: 50px;
}
.project-title{
    font-size: 1.3em;
    font-weight: 600;
}
.project-content{
    font-size: 1.1em;
}
@media (max-width: 750px){
    .sec2-projects{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }.project-box{
        max-width:300px;
    }
}